p {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

input {
    border: 0;
    outline: 0;
}

a:active {
    -webkit-filter: brightness(1.2);
}

.clear:after {
    display: block;
    content: '\200B';
    height: 0;
    clear: both;
}

.ellipsis p, p.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@font-face {
    font-family: 'myFont1';
    src: url('../images/font/myFont1.eot');
    src: url('../images/font/myFont1.woff') format('woff'), url('../images/font/myFont1.ttf') format('truetype');
}

.font1, .hurt i {
    color: #c7b08b;
    font-family: 'myFont1';
    text-shadow: .01rem .01rem .01rem #333;
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2d404f url(../images/bg.jpg) no-repeat center top;
    background-size: 6.4rem auto;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

.wrap.crit {
    animation: init_body .4s cubic-bezier(.13, .89, .13, .89);
}

@keyframes init_body {
    10% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-6deg);
    }
    70% {
        transform: rotate(3deg);
    }
    90% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0);
    }
}

.touch {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 1rem;
    height: 1rem;
    margin: -.5rem 0 0 -.5rem;
    background: url(../images/touch.png) no-repeat 0 / contain;
    will-change: opacity, transform;
    transform: scale(.5);
}

.touch-atc {
    animation: touch_atc .5s cubic-bezier(.13, .89, .13, .89);
}

@keyframes touch_atc {
    50%, 70% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.8);
    }
}

.field {
    position: relative;
    height: 6.7rem;
}

.aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.hurt {
    overflow: hidden;
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
    height: 2.5rem;
}

.hurt i {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size: .5rem;
    color: #FF0;
    text-align: center;
    will-change: transform, opacity;
    animation: hurt_i .8s linear forwards;
}

.hurt i.scale {
    font-size: .8rem;
    color: orange;
}

@keyframes hurt_i {
    60% {
        opacity: 1;
        transform: translate3d(0, -.9rem, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -1.5rem, 0);
    }
}

.board {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2.99rem;
    width: 5.98rem;
    height: 2.11rem;
    background: url(../images/bg-gold.png) no-repeat;
    background-size: 5.98rem auto;
    will-change: transform;
    transform: translate3d(0, -2.11rem, 0);
}

.init .board {
    animation: board .8s cubic-bezier(.13, .89, .13, .89) forwards;
}

@keyframes board {
    25% {
        transform: translate3d(0, 0, 0);
    }
    45% {
        transform: translate3d(0, -.4rem, 0);
    }
    65% {
        transform: translate3d(0, 0, 0);
    }
    85% {
        transform: translate3d(0, -.2rem, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.timer {
    display: none;
    position: absolute;
    top: 1.06rem;
    left: 1rem;
    height: .4rem;
    line-height: .4rem;
    font-size: .36rem;
}

.gold {
    position: absolute;
    bottom: .14rem;
    left: 1.84rem;
    width: 3rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size: .3rem;
}

.gold:before {
    display: inline-block;
    content: '';
    vertical-align: top;
    width: .32rem;
    height: .3rem;
    margin: .11rem .14rem 0 0;
    font-size: 0;
    background: url(../images/gold.png) no-repeat;
    background-size: .32rem auto;
}

.hp-bar {
    overflow: hidden;
    position: absolute;
    top: 1.146rem;
    left: 1.9rem;
    width: 2.87rem;
    height: .26rem;
}

.hp-pro {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 2.87rem;
    height: .26rem;
}

.hp-pro span {
    float: left;
    width: .22rem;
    height: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAaCAMAAACEqFxyAAAAUVBMVEUAAAByq5OJzrF/vaSCwqh9vKF5tJyBw6hyq5SIzLBzrZWIzLB+vKN3q5WM0bR1qpR4tZx+v6SLzrJzrpaFxquPvaqu3MiDu6OCtJ+j1sGX0rrxDj/FAAAAEHRSTlMAyMQsfubCwZuaQT8T6eZ8HVzibQAAALhJREFUKM9dzwmuwjAMRdHXgZn/SWhSB/a/UJ4dTK3eRKp6XFkqvGke/5+/vngbHd5W14uJ6ctSvI9RV03ZtPAor84XgiHv68e34imvzqeytfFUQtvuOYeKL8cpx/R7DYe8c/tP5Cx5N2HIIpLTFp2EgzC++e3haLwPc5KqvvDo7Q9M5Eru4DPg+PUlBlxTqu6BcU6tshYHYMNiLhykwHe6VE2k9WCdFy6KoXcdOGiBvekx/HF3630Av9YleZ8x8mEAAAAASUVORK5CYII=) no-repeat;
    background-size: 100% 100%;
}

.hp-pro span:nth-child(2), .hp-pro span:nth-child(3) {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAaCAMAAACEqFxyAAAAWlBMVEUAAAB0rpZ/vaSKz7J/vaR9vKGBw6hyq5SIzLB8vKJzrZWIzLB3q5WM0bR1qpSM0bR1r5d7t59/v6SGyq6K0LOPvaqExKqFuKOu28mm2MSe076T07iPyrKXzLaFb6pFAAAAEHRSTlMAxg3ELObBm5qCQT/p5nx2pUVtUAAAALNJREFUKM9tzNcWhCAMRdFrb1NEbKj8/29OQhlBPeEhblhiH33v7JvDt+984S+zzrFSG9lZnRpeV+PSnzFLDZPvowwit7wdMqx+Ztn9eQ4rmZXSB+3SDZdDKXo8D/PgMmsDtW2aLaqE1vT2WoGZUQQxC/gPP2YnvrUsoiDu7bFjOUEfRzotorky6SREjrvyP/CgfRuxcFoBiJE1SYkXF1mgmGwe+8ooTmNMWtiEjeiVfHK4fhhQJS2LJhcUAAAAAElFTkSuQmCC) no-repeat;
    background-size: 100% 100%;
    will-change: transform;
    transition: .1s cubic-bezier(.13, .89, .13, .89);
}

.hp-pro span:nth-child(2) {
    width: 2.43rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAaCAYAAACdM43SAAAAhElEQVQIW2Psu7z9PwMDAwPjzKt7IIwVN49AGBvunoQw1mEw1t8+BZW6eQLCWHvjOISx5voxqDlXD0IYc87ugDC6D62GMGp3L4IwKrfPgzDKtsyGMEq3zIQyNk6HMIrXT4UwitZNgTAK10IZZWunQURati6AMCbvg1rRv28VVGrzfDADALV6TnlFPmlSAAAAAElFTkSuQmCC) repeat-x;
    background-size: contain;
    transform-origin: 0 100%;
}

.role-name, .role-hp {
    position: absolute;
    top: 0;
    height: 100%;
    line-height: .28rem;
}

.role-name {
    left: .14rem;
    width: 2.73rem;
    font-size: .2rem;
    color: #FFF;
}

.role-hp {
    width: 2.77rem;
    right: .1rem;
    text-align: right;
    font-size: .22rem;
}

.role-hp:after {
    float: right;
    content: attr(title);
}

.tzmw {
    display: none;
    position: absolute;
    top: 2.24rem;
    right: .44rem;
    z-index: 1;
    width: 1.97rem;
    height: .79rem;
    background: url(../images/tzmw.png) no-repeat;
    background-size: 1.97rem auto;
}

.tzmw i {
    opacity: 0;
    position: absolute;
    left: .84rem;
    bottom: -.3rem;
    width: .49rem;
    height: .71rem;
    background: url(../images/hand.png) no-repeat;
    background-size: .49rem auto;
    will-change: transform, opacity;
    transition: .3s cubic-bezier(.13, .89, .13, .89);
    transform: translate3d(0, .2rem, 0);
}

.init .tzmw i {
    opacity: 1;
    animation: tzmw_i .8s cubic-bezier(.13, .89, .13, .89) infinite;
}

@keyframes tzmw_i {
    50% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, .2rem, 0);
    }
}

.role.mw {
    transform: scale(1.4);
    transform-origin: 50% 100% !important;
}

.pass {
    position: absolute;
    bottom: .4rem;
    right: .3rem;
    width: 3.15rem;
    height: .6rem;
}

.pass i {
    float: right;
    width: 1.05rem;
    height: 100%;
    background: url(../images/pass3.png) no-repeat;
    background-size: 1.05rem auto;
}

.pass i:first-child {
    margin-left: -.9rem;
}

.pass i:last-child {
    margin-right: -.58rem;
}

.hero, .hero b, .atc-1 span, .atc-2 span, .atc-3 span {
    animation-duration: .4s;
}

.hero, .hero b {
    animation-timing-function: steps(1, start);
}

.hero {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    width: 2.3rem;
    height: 1.48rem;
    margin-left: -1.15rem;
    background: url(../images/hero.png) no-repeat;
    background-size: 2.3rem auto;
    will-change: background-position;
    transform: translate3d(0, 0, 0);
}

.atc-1 {
    animation-name: atc_1;
}

.atc-2 {
    animation-name: atc_2;
}

.atc-3 {
    animation-name: atc_3;
}

@keyframes atc_1 {
    40%, 70% {
        background-position: 0 -1.5rem;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes atc_2 {
    0%, 20% {
        background-position: 0 -3rem;
    }
    40%, 70% {
        background-position: 0 -4.5rem;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes atc_3 {
    0%, 20% {
        background-position: 0 -6rem;
    }
    40%, 70% {
        background-position: 0 -7.5rem;
    }
    100% {
        background-position: 0 0;
    }
}

.hero b {
    position: absolute;
    top: .7rem;
    left: .9rem;
    z-index: 1;
    width: .77rem;
    height: .25rem;
    will-change: transform;
    transform-origin: 0 0;
}

.atc-1 b {
    animation-name: atc_1_em;
}

.atc-2 b {
    animation-name: atc_2_em;
}

.atc-3 b {
    animation-name: atc_3_em;
}

@keyframes atc_1_em {
    40%, 70% {
        transform: rotateY(180deg) translate3d(-.36rem, -.04rem, 0);
    }
    100% {
        transform: rotateY(0) translate3d(0, 0, 0);
    }
}

@keyframes atc_2_em {
    20% {
        transform: rotateY(180deg) translate3d(-.36rem, .04rem, 0);
    }
    40%, 70% {
        transform: rotateY(180deg) translate3d(-.36rem, -.03rem, 0);
    }
    100% {
        transform: rotateY(0) translate3d(0, 0, 0);
    }
}

@keyframes atc_3_em {
    0%, 20% {
        transform: translate3d(0, .02rem, 0);
    }
    40%, 70% {
        transform: translate3d(0, -.03rem, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.hero b i {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: url(../images/tie.png) no-repeat;
    background-size: .77rem auto;
    will-change: background-position;
}

.init .hero b i {
    animation: hero_after .5s steps(1, start) infinite;
}

@keyframes hero_after {
    25% {
        background-position: 0 -.25rem;
    }
    50% {
        background-position: 0 -.5rem;
    }
    75% {
        background-position: 0 -.75rem;
    }
    100% {
        background-position: 0 -1rem;
    }
}

.hero span {
    opacity: 0;
    position: absolute;
    top: -1rem;
    left: 0;
    width: 2.53rem;
    height: 4.4rem;
    background: url(../images/effect.png) no-repeat;
    background-size: 2.53rem auto;
    will-change: opacity, transform;
}

.atc-1 span {
    top: -.5rem;
    right: 0;
    height: 1.91rem;
    margin: 0 auto;
}

.atc-2 span, .atc-3 span {
    left: 1.4rem;
    height: 2.44rem;
    background-position: 0 -1.95rem;
}

.atc-3 span {
    left: -.62rem;
    background-position: 0 -4.35rem;
}

.atc-1 span, .atc-2 span, .atc-3 span {
    animation-name: atc_span;
    animation-timing-function: cubic-bezier(.13, .89, .13, .89);
}

@keyframes atc_span {
    0%, 30% {
        opacity: 0;
    }
    40%, 50% {
        opacity: 1;
    }
    55% {
        opacity: 0;
        transform: scale(1);
    }
    75% {
        opacity: 0;
        transform: scale(.6);
    }
    90% {
        opacity: .6;
        transform: scale(.8);
    }
    100% {
        opacity: 0;
    }
}

.role, .role span, .head, .body {
    position: absolute;
}

.role {
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;
    will-change: transform, opacity;
    transition: transform .6s cubic-bezier(.13, .89, .13, .89);
    transform: scale(.8);
    transform-origin: 100% 100%;
}

.head {
    z-index: 2;
    will-change: transform;
    transform-origin: 50% 100%;
    transition: transform .6s cubic-bezier(.13, .89, .13, .89);
    transform: translate3d(0, 0, 0);
}

.ear-l {
    transform-origin: 80% 100%;
}

.ear-r {
    transform-origin: 20% 100%;
}

.brow {
    transform-origin: 100% 0;
}

.face {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.body {
    bottom: 0;
    left: 0;
}

.hand-l, .hand-r {
    will-change: transform;
    transition: transform .3s cubic-bezier(.13, .89, .13, .89);
}

.hand-l {
    transform-origin: 90% 40%;
}

.hand-r {
    transform-origin: 10% 40%;
}

.foot {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.role-0 {
    width: 1.38rem;
    height: 2.73rem;
}

.role-0 .head {
    bottom: .84rem;
    left: .05rem;
    width: 1.38rem;
    height: 1.44rem;
}

.role-0 .helmet {
    top: -0.38rem;
    left: .5rem;
    width: .99rem;
    height: .78rem;
    background: url(../images/01/toukui.png) no-repeat;
    background-size: .99rem auto;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

.role-0 .eye {
    top: .55rem;
    left: .2rem;
    width: 1.02rem;
    height: .46rem;
    background: url(../images/01/yan.png) no-repeat;
    background-size: 1.02rem auto;
}

.role-0 .face {
    background: url(../images/01/tou.png) no-repeat;
    background-size: 1.38rem auto;
}

.role-0 .body {
    bottom: 0;
    left: .1rem;
    width: 1.26rem;
    height: 1.47rem;
}

.role-0 .hand-l {
    top: -0.6rem;
    left: -0.94rem;
    width: 1.26rem;
    height: 1.85rem;
    background: url(../images/01/yshou.png) no-repeat;
    background-size: 1.26rem auto;
}

.role-0 .hand-r {
    top: .38rem;
    right: -0.38rem;
    z-index: 2;
    width: .75rem;
    height: .85rem;
    background: url(../images/01/zshou.png) no-repeat;
    background-size: .75rem auto;
}

.role-0 .chest {
    top: -0.14rem;
    left: .54rem;
    z-index: 2;
    width: 1.21rem;
    height: 1.59rem;
    background: url(../images/01/dun-1.png) no-repeat 100% 0;
    background-size: .73rem auto;
    will-change: transform;
    transition: transform .3s cubic-bezier(.13, .89, .13, .89);
    transform: translate3d(0, 0, 0);
}

.role-0 .chest:after, .role-0 .chest:before {
    position: absolute;
    content: '';
    will-change: transform;
    transform-origin: 0 106%;
}

.role-0 .chest:after {
    top: .16rem;
    left: .02rem;
    width: .75rem;
    height: 1.33rem;
    background: url(../images/01/dun-3.png) no-repeat;
    background-size: .75rem auto;
}

.role-0 .chest:before {
    top: .56rem;
    left: .14rem;
    width: 1.01rem;
    height: 1.03rem;
    background: url(../images/01/dun-2.png) no-repeat;
    background-size: 1.01rem auto;
}

.role-0 .foot {
    background: url(../images/01/shen.png) no-repeat;
    background-size: 1.26rem auto;
}

.role-1 {
    width: 2.1rem;
    height: 2.68rem;
    transform-origin: 85% 100%;
}

.role-1 .head {
    bottom: 1.4rem;
    left: .42rem;
    width: 1.29rem;
    height: 1.29rem;
}

.role-1 .ear-l, .role-1 .ear-r {
    will-change: transform;
}

.role-1 .ear-l {
    top: .4rem;
    left: -0.4rem;
    width: .76rem;
    height: .71rem;
    background: url(../images/02/zer.png) no-repeat;
    background-size: .76rem auto;
}

.role-1 .ear-r {
    top: .34rem;
    right: -0.46rem;
    width: .78rem;
    height: .75rem;
    background: url(../images/02/yer.png) no-repeat;
    background-size: .78rem auto;
}

.role-1 .eye {
    top: .6rem;
    left: .22rem;
    width: .81rem;
    height: .15rem;
    background: url(../images/02/yanzhu.png) no-repeat;
    background-size: .81rem auto;
    will-change: transform;
}

.role-1 .brow {
    top: .52rem;
    left: .11rem;
    width: 1.04rem;
    height: 0;
    background: url(../images/02/biyan.png) no-repeat;
    background-size: 1.04rem auto;
    will-change: height;
}

.role-1 .face {
    background: url(../images/02/tou.png) no-repeat;
    background-size: 1.29rem auto;
}

.role-1 .body {
    width: 2.1rem;
    height: 1.98rem;
}

.role-1 .hand-l {
    top: -0.2rem;
    left: -0.9rem;
    width: 1.66rem;
    height: 1.98rem;
    background: url(../images/02/yshou.png) no-repeat;
    background-size: 1.66rem auto;
}

.role-1 .hand-r {
    top: .5rem;
    right: -0.12rem;
    width: .81rem;
    height: 1.3rem;
    background: url(../images/02/zshou.png) no-repeat;
    background-size: .81rem auto;
}

.role-1 .foot {
    background: url(../images/02/shen.png) no-repeat;
    background-size: 2.1rem auto;
}

.role-2 {
    width: 1.57rem;
    height: 2.6rem;
}

.role-2 .head {
    bottom: 1.12rem;
    left: 0;
    width: 100%;
    height: 1.34rem;
    will-change: auto;
}

.role-2 .helmet {
    top: -0.14rem;
    left: .1rem;
    z-index: -1;
    width: 1.36rem;
    height: .56rem;
    background: url(../images/03/jiao.png) no-repeat;
    background-size: 1.36rem auto;
}

.role-2 .eye {
    top: .26rem;
    left: .1rem;
    width: 1.35rem;
    height: .57rem;
    background: url(../images/03/zhengyan.png) no-repeat;
    background-size: 1.35rem auto;
    will-change: background;
    transition: background .25s cubic-bezier(.13, .89, .13, .89);
}

.role-2 .face {
    width: 1.57rem;
    height: 1.34rem;
    background: url(../images/03/shen.png) no-repeat;
    background-size: 1.57rem auto;
}

.role-2 .body {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.46rem;
}

.role-2 .hand-l {
    top: -0.05rem;
    left: -0.4rem;
    width: .84rem;
    height: 1.28rem;
    background: url(../images/03/zchi.png) no-repeat;
    background-size: .84rem auto;
}

.role-2 .hand-r {
    top: -0.1rem;
    right: -0.3rem;
    width: .84rem;
    height: 1.28rem;
    background: url(../images/03/ychi.png) no-repeat;
    background-size: .84rem auto;
}

.role-2 .mouth {
    top: .74rem;
    right: .26rem;
    width: 1.06rem;
    height: .33rem;
    background: url(../images/03/bizui.png) no-repeat center;
    background-size: 1.06rem auto;
    will-change: background;
    transition: background .25s steps(1, start);
}

.role-2 .hand-l:after {
    position: absolute;
    top: 1rem;
    left: .2rem;
    content: '';
    width: .44rem;
    height: .68rem;
    background: url(../images/03/zshou.png) no-repeat;
    background-size: .44rem auto;
}

.role-2 .hand-r:after {
    position: absolute;
    top: 1.08rem;
    left: .3rem;
    content: '';
    width: .44rem;
    height: .68rem;
    background: url(../images/03/yshou.png) no-repeat;
    background-size: .44rem auto;
}

.role-2 .foot {
    background: url(../images/03/shen.png) no-repeat;
    background-size: 1.57rem auto;
}

.role-3 {
    width: 1.9rem;
    height: 3.08rem;
}

.role-3 .head {
    bottom: 1.12rem;
    left: 0;
    width: 100%;
    height: 1.34rem;
}

.role-3 .ear-l {
    left: .47rem;
    top: -0.16rem;
    width: .44rem;
    height: .61rem;
    background: url(../images/04/shuzhier.png) no-repeat;
    background-size: .44rem auto;
}

.role-3 .ear-r {
    right: -0.5rem;
    top: .46rem;
    width: .77rem;
    height: .55rem;
    background: url(../images/04/shuzhiyi.png) no-repeat;
    background-size: .77rem auto;
}

.role-3 .helmet {
    top: -0.84rem;
    left: -0.14rem;
    width: 1.7rem;
    height: 1.8rem;
    background: url(../images/04/huo-1.png) no-repeat center bottom;
    background-size: 1.7rem auto;
    will-change: background;
    transform-origin: 50% 100%;
}

.role-3 .body {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.46rem;
}

.role-3 .hand-l {
    top: 1.32rem;
    left: -0.58rem;
    width: 1.1rem;
    height: .82rem;
    background: url(../images/04/zbi.png) no-repeat;
    background-size: 1.1rem auto;
}

.role-3 .hand-r {
    top: 1.08rem;
    right: -0.3rem;
    width: .86rem;
    height: .83rem;
    background: url(../images/04/ybi.png) no-repeat;
    background-size: .86rem auto;
}

.role-3 .hand-l:after, .role-3 .hand-r:after {
    position: absolute;
    content: '';
    will-change: transform;
}

.role-3 .hand-l:after {
    top: .1rem;
    left: 0;
    width: .54rem;
    height: .69rem;
    background: url(../images/04/zshou.png) no-repeat;
    background-size: .54rem auto;
    transform-origin: 80% 100%;
}

.role-3 .hand-r:after {
    top: 0;
    left: .37rem;
    width: .48rem;
    height: .7rem;
    background: url(../images/04/yshou.png) no-repeat;
    background-size: .48rem auto;
    transform-origin: 60% 100%;
}

.role-3 .foot {
    background: url(../images/04/shen.png) no-repeat;
    background-size: 1.9rem auto;
}

.role-4 {
    width: 2.63rem;
    height: 2.28rem;
    transform-origin: 50% 100%;
}

.role-4 .head {
    bottom: .26rem;
    left: .54rem;
    width: 1.54rem;
    height: 1.01rem;
}

.role-4 .face {
    background: url(../images/05/tou.png) no-repeat;
    background-size: 1.54rem auto;
}

.role-4 .ear-l {
    left: .22rem;
    top: .8rem;
    width: .42rem;
    height: .48rem;
    background: url(../images/05/dzy.png) no-repeat;
    background-size: .42rem auto;
}

.role-4 .ear-r {
    right: .22rem;
    top: .8rem;
    width: .42rem;
    height: .48rem;
    background: url(../images/05/dyy.png) no-repeat;
    background-size: .42rem auto;
}

.role-4 .mouth {
    bottom: -0.22rem;
    left: 0;
    z-index: -1;
    width: 100%;
    height: .42rem;
}

.role-4 .brow {
    opacity: 0;
    top: .28rem;
    left: .16rem;
    width: 1.22rem;
    height: .6rem;
    background: url(../images/05/biyan.png) no-repeat;
    background-size: 1.22rem auto;
    will-change: opacity;
}

.role-4 .mouth:before {
    position: absolute;
    top: 0;
    right: .55rem;
    content: '';
    width: .22rem;
    height: .42rem;
    background: url(../images/05/xyy.png) no-repeat;
    background-size: .22rem auto;
}

.role-4 .mouth:after {
    position: absolute;
    top: .01rem;
    left: .55rem;
    content: '';
    width: .21rem;
    height: .41rem;
    background: url(../images/05/xzy.png) no-repeat;
    background-size: .21rem auto;
}

.role-4 .helmet {
    top: -0.24rem;
    left: -0.22rem;
    z-index: -1;
    width: 2.02rem;
    height: .98rem;
    background: url(../images/05/touguan.png) no-repeat;
    background-size: 2.02rem auto;
}

.role-4 .body {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.role-4 .chest {
    bottom: .27rem;
    left: .06rem;
    width: 2.52rem;
    height: 2.01rem;
    background: url(../images/05/shen.png) no-repeat;
    background-size: 2.52rem auto;
    will-change: transform;
    transform-origin: 0 100%;
    transition: transform .1s cubic-bezier(.13, .89, .13, .89);
}

.role-4 .foot {
    top: 1.57rem;
    width: 2.63rem;
    height: .71rem;
    background: url(../images/05/jiao.png) no-repeat;
    background-size: 2.63rem auto;
    will-change: transform;
    transform-origin: 0 100%;
    transition: transform .1s cubic-bezier(.13, .89, .13, .89);
}

.role-5 {
    width: 1.56rem;
    height: 2.7rem;
    transform-origin: 15% 100%;
}

.role-5 .head {
    bottom: .9rem;
    left: -0.01rem;
    width: 100%;
    height: 1.43rem;
    transform-origin: 50% 50%;
}

.role-5 .face {
    background: url(../images/06/tou.png) no-repeat;
    background-size: 1.56rem auto;
}

.role-5 .ear-l {
    top: .19rem;
    left: -0.05rem;
    width: 1.76rem;
    height: .61rem;
    background: url(../images/06/er.png) no-repeat;
    background-size: 1.76rem auto;
}

.role-5 .brow {
    top: .47rem;
    left: .27rem;
    width: .9rem;
    height: 0;
    background: url(../images/06/biyan.png) no-repeat;
    background-size: .9rem auto;
    will-change: height;
}

.role-5 .helmet {
    top: -0.34rem;
    left: .15rem;
    width: 1.59rem;
    height: 1.02rem;
    background: url(../images/06/toukui.png) no-repeat;
    background-size: 1.59rem auto;
    will-change: transform;
}

.role-5 .body {
    bottom: 0;
    left: 0;
    width: 1.47rem;
    height: 1.91rem;
}

.role-5 .hand-l {
    top: -0.05rem;
    left: -0.48rem;
    z-index: 1;
    width: 1.08rem;
    height: 1.93rem;
    background: url(../images/06/zshou.png) no-repeat;
    background-size: 1.08rem auto;
}

.role-5 .hand-r {
    top: -0.05rem;
    right: -0.48rem;
    z-index: 1;
    width: 1.07rem;
    height: 1.9rem;
    background: url(../images/06/yshou.png) no-repeat;
    background-size: 1.07rem auto;
}

.role-5 .foot {
    background: url(../images/06/shen.png) no-repeat;
    background-size: 1.47rem auto;
}

.hand-l, .hand-r, .head, .brow, .eye, .ear-l, .ear-r, .mouth, .chest, .helmet, .foot {
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(.13, .89, .13, .89);
    animation-iteration-count: infinite;
}

.alive .hand-l {
    animation-name: alive_hand_l;
}

@keyframes alive_hand_l {
    10% {
        transform: rotate(4deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(4deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(4deg);
    }
    60% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(4deg);
    }
    80%, 100% {
        transform: rotate(0deg);
    }
}

.alive .hand-r {
    animation-name: alive_hand_r;
}

@keyframes alive_hand_r {
    10% {
        transform: rotate(-4deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-4deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-4deg);
    }
    60% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(-4deg);
    }
    80%, 100% {
        transform: rotate(0deg);
    }
}

.alive.role-0 .head, .alive.role-1 .head, .alive.role-4 .head, .alive.role-5 .head {
    animation-name: alive_head;
}

@keyframes alive_head {
    10% {
        transform: translate3d(0, 0.04rem, 0);
    }
    20% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(0, 0.04rem, 0);
    }
    40% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 0.04rem, 0);
    }
    60% {
        transform: translate3d(0, 0, 0);
    }
    70% {
        transform: translate3d(0, 0.04rem, 0);
    }
    80% {
        transform: translate3d(0, 0, 0);
    }
    85% {
        transform: rotate(8deg);
    }
    95% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(0);
    }
}

.alive.role-1 .brow, .alive.role-5 .brow {
    animation-name: alive_role_1_brow;
}

@keyframes alive_role_1_brow {
    45% {
        height: 0;
    }
    50% {
        height: .24rem;
    }
    55%, 60% {
        height: 0;
    }
    65% {
        height: .24rem;
    }
    70%, 100% {
        height: 0;
    }
}

.alive.role-4 .brow {
    animation-name: alive_role_4_brow;
    animation-timing-function: steps(1, start);
}

@keyframes alive_role_4_brow {
    45% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55%, 60% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    70%, 100% {
        opacity: 0;
    }
}

.alive.role-1 .eye {
    animation-name: alive_role_1_eye;
}

@keyframes alive_role_1_eye {
    80% {
        transform: translate3d(0, 0, 0);
    }
    85% {
        transform: translate3d(-0.06rem, 0, 0);
    }
    95% {
        transform: translate3d(0.06rem, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.alive.role-2 .eye {
    animation-name: alive_role_2_eye;
    animation-timing-function: steps(1, start);
}

@keyframes alive_role_2_eye {
    45% {
        background: url(../images/03/zhengyan.png) no-repeat;
        background-size: 1.35rem auto;
    }
    50% {
        background: url(../images/03/biyan.png) no-repeat;
        background-size: 1.35rem auto;
    }
    55%, 60% {
        background: url(../images/03/zhengyan.png) no-repeat;
        background-size: 1.35rem auto;
    }
    65% {
        background: url(../images/03/biyan.png) no-repeat;
        background-size: 1.35rem auto;
    }
    70%, 85% {
        background: url(../images/03/zhengyan.png) no-repeat;
        background-size: 1.35rem auto;
    }
    90% {
        background: url(../images/03/biyan.png) no-repeat;
        background-size: 1.35rem auto;
    }
    95%, 100% {
        background: url(../images/03/zhengyan.png) no-repeat;
        background-size: 1.35rem auto;
    }
}

.alive.role-1 .ear-l {
    animation-name: alive_ear_l;
}

@keyframes alive_ear_l {
    45% {
        transform: translate3d(0, 0, -1rem) rotateY(0);
    }
    50% {
        transform: translate3d(0, 0, -1rem) rotateY(30deg);
    }
    55%, 60% {
        transform: translate3d(0, 0, -1rem) rotateY(0);
    }
    65% {
        transform: translate3d(0, 0, -1rem) rotateY(30deg);
    }
    70%, 100% {
        transform: translate3d(0, 0, -1rem) rotateY(0);
    }
}

.alive.role-1 .ear-r {
    animation-name: alive_ear_r;
}

@keyframes alive_ear_r {
    45% {
        transform: translate3d(0, 0, -1rem) rotateY(0);
    }
    50% {
        transform: translate3d(0, 0, -1rem) rotateY(-30deg);
    }
    55%, 60% {
        transform: translate3d(0, 0, -1rem) rotateY(0);
    }
    65% {
        transform: translate3d(0, 0, -1rem) rotateY(-30deg);
    }
    70%, 100% {
        transform: translate3d(0, 0, -1rem) rotateY(0);
    }
}

.alive.role-2 .mouth {
    animation-name: alive_role_2_mouth;
    animation-timing-function: steps(1, start);
}

@keyframes alive_role_2_mouth {
    85% {
        background: url(../images/03/bizui.png) no-repeat center;
        background-size: 1.01rem auto;
    }
    90% {
        background: url(../images/03/zhangzui.png) no-repeat center;
        background-size: 1.06rem auto;
    }
    100% {
        background: url(../images/03/bizui.png) no-repeat center;
        background-size: 1.01rem auto;
    }
}

.alive.role-3 .helmet {
    animation: alive_role_3_helmet 2s steps(1, start) infinite;
}

@keyframes alive_role_3_helmet {
    11.1% {
        background: url(../images/04/huo-2.png) no-repeat center bottom;
        background-size: 1.59rem auto;
    }
    22.2% {
        background: url(../images/04/huo-3.png) no-repeat center bottom;
        background-size: 1.55rem auto;
    }
    33.3% {
        background: url(../images/04/huo-1.png) no-repeat center bottom;
        background-size: 1.7rem auto;
    }
    44.4% {
        background: url(../images/04/huo-2.png) no-repeat center bottom;
        background-size: 1.59rem auto;
    }
    55.5% {
        background: url(../images/04/huo-3.png) no-repeat center bottom;
        background-size: 1.55rem auto;
    }
    66.6% {
        background: url(../images/04/huo-1.png) no-repeat center bottom;
        background-size: 1.7rem auto;
    }
    77.7% {
        background: url(../images/04/huo-2.png) no-repeat center bottom;
        background-size: 1.59rem auto;
    }
    88.8% {
        background: url(../images/04/huo-3.png) no-repeat center bottom;
        background-size: 1.55rem auto;
    }
    100% {
        background: url(../images/04/huo-1.png) no-repeat center bottom;
        background-size: 1.7rem auto;
    }
}

.alive.role-4 .chest {
    animation-name: alive_role_4_chest;
}

@keyframes alive_role_4_chest {
    10% {
        transform: rotateX(0) translate3d(0, 0, -1rem);
    }
    20% {
        transform: rotateX(-5deg) translate3d(0, 0, -1rem);
    }
    30% {
        transform: rotateX(0) translate3d(0, 0, -1rem);
    }
    40% {
        transform: rotateX(-5deg) translate3d(0, 0, -1rem);
    }
    50% {
        transform: rotateX(0) translate3d(0, 0, -1rem);
    }
    60% {
        transform: rotateX(-5deg) translate3d(0, 0, -1rem);
    }
    70% {
        transform: rotateX(0) translate3d(0, 0, -1rem);
    }
    80% {
        transform: rotateX(-5deg) translate3d(0, 0, -1rem);
    }
    85% {
        transform: rotateX(0) translate3d(0, 0, -1rem);
    }
    95% {
        transform: rotateX(-5deg) translate3d(0, 0, -1rem);
    }
    100% {
        transform: rotateX(0) translate3d(0, 0, -1rem);
    }
}

.alive.role-4 .foot {
    animation-name: alive_role_4_foot;
}

@keyframes alive_role_4_foot {
    10% {
        transform: scale(1);
    }
    20% {
        transform: scale(1, 1.3);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1, 1.3);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1, 1.3);
    }
    70% {
        transform: scale(1);
    }
    80% {
        transform: scale(1, 1.3);
    }
    85% {
        transform: scale(1);
    }
    95% {
        transform: scale(1, 1.3);
    }
    100% {
        transform: scale(1);
    }
}

.attacked .hand-l {
    transform: rotate(20deg);
}

.attacked .hand-r {
    transform: rotate(-20deg);
}

.attacked.role-0 .helmet, .attacked.role-5 .helmet {
    animation: attacked_role_0_helmet .6s cubic-bezier(.13, .89, .13, .89);
}

@keyframes attacked_role_0_helmet {
    20%, 40% {
        transform: translate3d(0, -1.2rem, 0) rotate(-30deg);
    }
    60% {
        transform: translate3d(0, 0, 0) rotate(-30deg);
    }
    70% {
        transform: translate3d(0, -.4rem, 0) rotate(-30deg);
    }
    80% {
        transform: translate3d(0, -.4rem, 0) rotate(0);
    }
    90% {
        transform: translate3d(0, 0, 0) rotate(30deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(0);
    }
}

.attacked.role-0 .chest {
    transform: translate3d(0, -0.2rem, 0);
}

.attacked.role-1 {
    transform: rotate(10deg) scale(.8);
    -webkit-filter: saturate(6);
}

.attacked.role-1.mw {
    transform: rotate(10deg) scale(1.4);
}

.attacked.role-1 .eye {
    transform: translate3d(-0.06rem, 0, 0);
}

.attacked.role-1 .head {
    transform: rotate(10deg);
}

.attacked.role-2 {
    -webkit-filter: brightness(1.1);
}

.attacked.role-2 .hand-l {
    transform: rotate(10deg) translate3d(0, -0.1rem, 0);
}

.attacked.role-2 .hand-r {
    transform: rotate(-10deg) translate3d(0, -0.1rem, 0);
}

.attacked.role-2 .mouth {
    background: url(../images/03/zhangzui.png) no-repeat center;
    background-size: 1.06rem auto;
}

.attacked.role-2 .eye {
    background: url(../images/03/biyan.png) no-repeat;
    background-size: 1.35rem auto;
}

.attacked.role-3 .helmet {
    animation: attacked_role_3_helmet .5s cubic-bezier(.13, .89, .13, .89);
}

@keyframes attacked_role_3_helmet {
    0%, 16.67% {
        background: url(../images/04/huo-2.png) no-repeat center bottom;
        background-size: 1.59rem auto;
        transform: scale(1.4);
    }
    33.33% {
        background: url(../images/04/huo-3.png) no-repeat center bottom;
        background-size: 1.55rem auto;
        transform: scale(1.4);
    }
    49.99% {
        background: url(../images/04/huo-1.png) no-repeat center bottom;
        background-size: 1.7rem auto;
        transform: scale(1.4);
    }
    66.68% {
        background: url(../images/04/huo-2.png) no-repeat center bottom;
        background-size: 1.59rem auto;
        transform: scale(1.4);
    }
    83.35% {
        background: url(../images/04/huo-3.png) no-repeat center bottom;
        background-size: 1.55rem auto;
        transform: scale(1.4);
    }
    100% {
        background: url(../images/04/huo-1.png) no-repeat center bottom;
        background-size: 1.7rem auto;
        transform: scale(1);
    }
}

.attacked.role-3 .hand-l:after {
    transform: rotate(24deg);
}

.attacked.role-3 .hand-r:after {
    transform: rotate(-8deg);
}

.attacked.role-4 .chest {
    transform: rotateX(-8deg) translate3d(0, 0, -1rem);
}

.attacked.role-4 .head {
    transform: translate3d(0, -.1rem, 0);
}

.attacked.role-4 .foot {
    transform: scale(1, 1.4);
}

.attacked.role-5 {
    transform: rotate(-10deg) scale(.8);
    -webkit-filter: saturate(2);
}

.attacked.role-5.mw {
    transform: rotate(-10deg) scale(1.4);
}

.attacked.role-5 .head {
    transform: translate3d(0, -.2rem, 0);
}

.attacked-1.role-0 .chest:after {
    transform: rotate(-6deg);
}

.attacked-2.role-0 .chest:before {
    transform: rotateX(30deg);
}

.die.role-0 .chest:after {
    transform: rotate(-60deg);
}

.die.role-0 .chest:before {
    transform: rotateX(60deg);
}

.die.role-1 {
    transform: rotate(20deg) scale(.8);
}

.die.role-4 {
    transform: translate3d(0, -1rem, 0);
}

.die.role-4 .foot {
    transform: scale(1, 1.5);
}

.die.role-5 {
    transform: rotate(-20deg) scale(.8);
}

.dialog {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.init .dialog {
    display: block;
}

.dbg-1 {
    opacity: 0;
    position: absolute;
    top: 1.3rem;
    left: .32rem;
    width: 5.76rem;
    background: #FFF;
    border: .02rem solid #8d211a;
    border-radius: .11rem;
    pointer-events: none;
    will-change: transform, opacity;
    transition: .4s linear;
}

.first {
    top: 2.6rem;
    transform: translate3d(0, 50%, 0);
}

.dbg-2 {
    width: 5.32rem;
    margin: .1rem;
    padding: .12rem;
    background: #fde19b;
    border-radius: .11rem;
}

.dbg-3 {
    padding: .1rem .12rem;
    background: #f8b57b;
    border-radius: .11rem;
}

.dbg-2 .con {
    padding: .1rem 0 .12rem;
    border-radius: .11rem;
    background: #fde19b;
}

.dbg-2 h2 {
    line-height: .4rem;
    padding-bottom: .06rem;
    margin: 0;
    text-align: center;
    color: #f1750a;
    font-size: .32rem;
    font-weight: bold;
}

.first .dbg-2 h2 {
    line-height: .6rem;
    padding: 0;
    font-size: .36rem;
}

.back-index {
    display: block;
    width: 2.76rem;
    height: .84rem;
    line-height: .84rem;
    margin: .27rem auto 0;
    background: url(../images/submit.png) no-repeat 0 / contain;
    color: #FFF;
    font-size: .32rem;
    font-weight: bold;
    text-align: center;
}

.tip {
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 997;
    width: 100%;
    height: .6rem;
    margin-top: -.2rem;
    text-align: center;
}

.tip span {
    display: inline-block;
    padding: .1rem .2rem;
    font-size: .3rem;
    background: rgba(0, 0, 0, .8);
    color: #FFF;
    border-radius: .3rem;
}
